.intro__section {
  .intro {
    padding-top: 50px;
    .intro__h3 {
      width: 100%;
      max-width: 250px;
      padding-top: 10px;
      padding-bottom: 10px;
      letter-spacing: 10px;
      font-size: 24px;
      text-align: center;
      color: yellow;
      background-color: black;
    }
    .intro__par {
      padding-top: 20px;
      font-size: 8vw;
      line-height: 90%;
      letter-spacing: -5px;
    }
    .intro__par2 {
      padding-top: 20px;
      span {
        font-size: 68px;
        font-style: italic;
      }
      small {
        font-style: italic;
        font-size: 36px;
        padding-left: 10px;
        color: #363636;
      }
    }
  }
}

.jamie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  .jamie__h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700px;
  }
  .jamie__par {
    padding-bottom: 20px;
    max-width: 750px;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    span {
      background-color: white;
      padding: 5px 5px;
      color: #555;
    }
  }
  input {
    width: 100%;
    max-width: 800px;
    background: rgba(18, 18, 18, 0.9);
    border: none;
    height: 60px;
    padding: 10px 10px 15px 40px;
    border: 0;
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: background 0.4s linear;
    font-family: monospace;
  }
  .btn__jamie {
    padding-top: 100px;
    padding-bottom: 40px;
    .jamie__btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1;
      padding: 15px 30px;
      white-space: normal;
      border-radius: 2px;
      color: #fff;
      background-color: #ec008c;
      border: #ec008c;
      text-align: center;
      display: inline-block;
      margin: 0 0 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
    }
    .jamie__btn:hover {
      background-color: #ff1ba4;
    }
  }
}

.main__pars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
  }
  small {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6f6f6f;
  }
}

.session__demand {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  .demand__session {
    display: flex;
    align-items: center;
    gap: 30px;
    .demand {
      align-items: center;
      border: 1px solid black;
      background-color: black;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      color: #fcdc00 !important;
      text-transform: uppercase;
      font-size: 16px;
    }
    .session {
      .session__title {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
      }
      .session__par {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        max-width: 400px;
        font-size: 20px;
        line-height: 1.4;
        font-weight: unset;
      }
      .session__btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        padding: 15px 30px;
        white-space: normal;
        border-radius: 2px;
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 0 20px;
        letter-spacing: 1px;
        border: none;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: 0.3s;
      }
      .session__btn:hover {
        background-color: #2c2828;
      }
    }
  }
  .session__img {
    width: 100%;
    max-width: 800px;
    height: 90px;
    background-image: url("./images/image-res.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1px;
    .img__btn {
      .session__img__btn {
        color: #000 !important;
        background: #fff !important;
        border: 3px solid #000;
        padding: 15px 25px;
        cursor: pointer;
      }
    }
  }
}

.session__demand1 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  .demand__session1 {
    display: flex;
    align-items: center;
    gap: 30px;
    .demand1 {
      align-items: center;
      border: 1px solid black;
      background-color: black;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      color: #fcdc00 !important;
      text-transform: uppercase;
      font-size: 16px;
    }
    .session1 {
      .session__title1 {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
      }
      .session__par1 {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        max-width: 400px;
        font-size: 20px;
        line-height: 1.4;
        font-weight: unset;
      }
      .session__btn1 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        padding: 15px 30px;
        white-space: normal;
        border-radius: 2px;
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 0 20px;
        letter-spacing: 1px;
        border: none;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: 0.3s;
      }
      .session__btn:hover {
        background-color: #2c2828;
      }
    }
  }
  .session__img1 {
    width: 100%;
    max-width: 800px;
    height: 90px;
    background-image: url("./images/image-res.img2.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1px;
    .img__btn1 {
      .session__img__btn1 {
        color: #000 !important;
        background: #fff !important;
        border: 3px solid #000;
        padding: 15px 25px;
        cursor: pointer;
      }
    }
  }
}

.session__demand2 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  //   padding-bottom: 60px;
  .demand__session2 {
    display: flex;
    align-items: center;
    gap: 30px;
    .demand2 {
      align-items: center;
      border: 1px solid black;
      background-color: black;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      color: #fcdc00 !important;
      text-transform: uppercase;
      font-size: 16px;
    }
    .session2 {
      .session__title2 {
        padding-top: 15px;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
      }
      .session__par2 {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        max-width: 400px;
        font-size: 20px;
        line-height: 1.4;
        font-weight: unset;
      }
      .session__btn2 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        padding: 15px 30px;
        white-space: normal;
        border-radius: 2px;
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 0 20px;
        letter-spacing: 1px;
        border: none;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: 0.3s;
      }
      .session__btn:hover2 {
        background-color: #2c2828;
      }
    }
  }
  .session__img2 {
    width: 100%;
    max-width: 800px;
    height: 90px;
    background-image: url("./images/image-res.img3.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1px;
    .img__btn2 {
      .session__img__btn2 {
        color: #000 !important;
        background: #fff !important;
        border: 3px solid #000;
        padding: 15px 25px;
        cursor: pointer;
      }
    }
  }
}

.celebrate {
  padding-top: 120px;
  text-align: center;
  .celebrate__h2 {
    line-height: 1.2;
    font-weight: 400;
    font-size: 40px;
  }
  .celebrate__par {
    font-size: 20px;
    line-height: 1.4;
    font-weight: unset;
    padding-bottom: 30px;
  }
  .celebrate__btn {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: 700;
    padding: 20px 30px;
    color: #fff;
    background: #181818;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}
